// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary, .btn-primary:hover, .btn-primary:focus {
	background-color: black;
	border-color: black;
	outline: none;
}

.pagination > li > a, .pagination > li > a:hover, .pagination > li > a:focus {
  	color: black;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
	background-color: black;
	border-color: black;
}

.has-error {
	background-color: #ffeeee;
	border-radius: 3px;
	padding: 3px;
}

.help-block {
	text-transform: uppercase;
}

#map {
	height: 450px;
}

.add-comment-btn {
	float: right;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1em 0px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\201C" "\2019"; /* Made inner and outer opening quotes identical to allow for use without closing quotes */
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.caption {
  height: 110px;
}

.highlight-image {
  float: left;
  max-width: 200px;
  max-height: 200px;
  margin: 0 15px 5px 0;
}