// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary, .btn-primary:hover, .btn-primary:focus {
	background-color: black;
	border-color: black;
	outline: none;
}

.pagination > li > a, .pagination > li > a:hover, .pagination > li > a:focus {
  	color: black;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
	background-color: black;
	border-color: black;
}

.has-error {
	background-color: #ffeeee;
	border-radius: 3px;
	padding: 3px;
}

.help-block {
	text-transform: uppercase;
}

#map {
	height: 450px;
}

.add-comment-btn {
	float: right;
}