// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-logo {
	width: 100%;
	height: auto;
	max-height: 200px;
}

.user-email {
	word-wrap: break-word;
}

.user-comment {
	margin-top: 5px;
}